/* fin */

@media (min-width: 400px) and (max-width: 768px){

    .barra{
        position: absolute;
        background: none;
        max-width: 1px;
        max-height: 1px;
    }  
    
    .barra img{
        margin-top: 20px;
        max-width: 30px;
        max-height: 30px;
    }

    /* index */

    .novedad{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5%;
    }

    .ultimo{
        margin: 5% auto;
    }

    .proceso{
        margin: 5% auto;
    }

    /* obra */

    .imagenes{
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 20px ;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        justify-items: center;
    }

    .imagen{
        margin-top: 3%;
        grid-template-columns: 1fr;
    }

    .imagen img{
        max-width: auto;
        max-height: auto;
    }
    
    .barra__perfil--imagen:hover{
        margin-top: 20px;
        max-width: 30px;
        max-height: 30px;
    }

    .uno{
        flex-direction: column;
    }

    .dos{
        flex-direction: column;
    }

    .uno__texto{
        padding: 3%;
    }

    .dos__texto{
        padding: 3%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait ){

    .imagen{
        margin-top: 3%;
        grid-template-columns: 1fr 1fr;
    }
}