.elfooter{
    display: flex;
    justify-content: center;
    align-items:flex-end ;
}

.contactanos{
    display: flex;
    background-color: rgb(143, 100, 69);
    max-width: 1400px;
    height: 80px;
    margin: 0px auto;
    position: fixed;
    bottom: 0;
    width: 100%;

    &contactanos_contactanos{
        font-size: 24px;
        color: black;
        font-weight:600;
        text-align: center;
    }

    &contactanos__contenido{
        flex-direction:row;
        justify-content:baseline;
    }

    &contactanos__textoInstagram{
        color: rgb(73, 39, 15);
    } 

    &contactanos__textoTwitter{
        color: rgb(73, 39, 15);
    } 

    &contactanos__textoTiktok{
        color: rgb(73, 39, 15);
    } 

    &ul {
        display: flex;
        flex-direction:row;
        justify-content: baseline;
    }
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}