// header

header{
    display: flex;
    justify-content: flex-start;
}

nav{

    img{
        max-width: 50px;
        max-height: 50px;
    }

    img:hover{
        height: 60px;
        width: 60px;
        margin: 10px;
        transition: all 0.3s;
    }

}

.offcanvas-start{
    background-color: rgb(143, 100, 69);
    width: 80px;
}

.btn-close{
    margin-top: 10%;
    margin-left: 35%;
    }

