*{

    margin: 0;
    padding: 0;
}

body{   
    background: $backuno;
    background: $backdos;
    max-width: 1600px;
    margin: 0px auto;
}

ul{
    list-style: none;
    padding: 0;
}

head{
    background: $backuno;
    background: $backdos;
}


