*{

    margin: 0;
    padding: 0;
}

body{   
    background: rgb(169, 105, 105);
    background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(245,237,225,1) 15%, rgba(242,234,221,1) 35%, rgba(216,204,186,1) 58%, rgba(214,203,182,1) 78%, rgba(213,202,180,1) 90%); 
    max-width: 1600px;
    margin: 0px auto;
}

ul{
    list-style: none;
    padding: 0;
}

head{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(245,237,225,1) 15%, rgba(242,234,221,1) 35%, rgba(216,204,186,1) 58%, rgba(214,203,182,1) 78%, rgba(213,202,180,1) 90%); 
}


