*{

    margin: 0;
    padding: 0;
}
body{   
    background-color: aliceblue;
}

.barra{
    background-color: rgb(143, 100, 69);
    height: 1800px;
    width: 60px;
    position:fixed;
    top: 0%;
}

.barra__perfil--imagen{
    height: 50px;
    width: 50px;
    margin: 5px;
    bottom: 8px;
}
.barra__perfil--imagen:hover{
    height: 60px;
    width: 60px;
    margin: 10px;

}

.formulario__titulo{
    color: black;
    margin-left: 300px;
    margin-top: 30px;
}

.formulario__uno{
    margin-top: 45px;
    margin-left: 200px;
}

.formulario__dos{
    margin-top: 45px;
    margin-left: 200px;
}

.formulario__tres{
    margin-top: 45px;
    margin-left: 212px;
}

.textarea{
    margin-left: 200px;
    margin-top: 50px;
}

.imput{
    margin-left: 850px;
}


.contactanos{
    background-color: rgb(143, 100, 69);
    height: 100px;
    width: 1200px;
    margin: 50px;
    overflow: auto;
    position: relative;
    top: 50px;
    left: 40px;
    z-index: 1;
}

.contactanos_contactanos{
    font-size: 24px;
    color: black;
    font-weight: 600;
    text-align: center;
}

.contactanos__twitter{
    right: 300px;
}

.contactanos__fotoTiktok{
position: absolute;
width: 35px;
background-color: rgb(143, 100, 69);
}

.contactanos__textoInstagram{
    color: rgb(73, 39, 15);
    padding-left: 100px;
}

.contactanos__textoTwitter{
    color: rgb(73, 39, 15);
    padding-left: 395px;
}

.contactanos__textoTiktok{
    color: rgb(73, 39, 15);
    padding-left: 395px;
}

.contactanos ul{
    list-style: none;
    display: flex;
}