/* index */

.portafolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    &__texto{
        color: white;
        font-family: $fonts;
        background-color: #a6826864;
        padding: 20px;
        margin: 50px;
        width: 805;
    }

    h2{
        color: $colord;
    }
    
    p{
        margin-bottom: 20px;
    }
}
    
.novedad{
    font-family: $fonts;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;    
}

    .ultimo{
        
        &__texto{
            color: $colora;
            font-size: 32px;
            padding-left: 1%;
            display: inline;
        }

        &__imagen{
            height: 200px;
            width: 200px;
            padding-left: 8%;
        }
    }
    
    .proceso{
        &__texto{
            color: $colora;
            font-size: 32px;
            padding-left: 10%;
        }

        &__imagen{
            height: 200px;
            width: 200px;
        }
    }
    
.textoarte{
    font-family: $fonts;
    padding: 10px;
    text-align: center;
    background: $backtituno;
    background: $backtitdos; 
    color: $colord;
}

.carrucel{
    display: flex;
    justify-content: center;
    padding: 20px;
}
