/* index */

.portafolio {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;

    &__texto{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #000000a6;
        padding: 20px;
        margin: 50px;
        width: 600PX;
    }

    h2{
        color: rgb(73, 39, 15);
    }
    
    p{
        margin-bottom: 20px;
    }
}
    
.novedad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}
    
    .ultimo{

        &__texto{
            color: black;
            font-size: 32px;
            padding-left: 10%;
        }

        &__imagen{
            height: 200px;
            width: 200px;
        }
    }
    
    .proceso{

        &__texto{
            color: black;
            font-size: 32px;
            padding-left: 10%;
            padding-bottom: 24%;
        }

        &__imagen{
            height: 200px;
            width: 200px;
        }
    }
    
.textoarte{
    padding: 10px;
    text-align: center;
    background: rgb(139,76,41);
    background: linear-gradient(144deg, rgba(139,76,41,1) 0%, rgba(180,136,111,1) 35%, rgba(241,231,220,1) 52%, rgba(229,218,204,1) 67%, rgba(216,204,186,1) 78%, rgba(194,181,156,1) 88%); 
}

.carrucel{
    display: flex;
    justify-content: center;
    padding: 20px;
}
