/* index */

.portafolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    &__texto{
        color: white;
        font-family: $fonts;
        background-color: #a6826864;
        margin:5%;
        width: 805;
    }

    h2{
        color: $colord;
        padding: 5px;
    }
    
    p{
        margin-bottom: 20px;
    }
}
    
.novedad{
    font-family: $fonts;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;    
}

.ultimo{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__texto{
        color: $colora;
        font-size: 32px;
        display: inline;
    }

    &__imagen{
        height: 200px;
        width: 200px;
        // margin-left: 15%;
    }
}
    
.proceso{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__texto{
        margin-left: 5%;
        color: $colora;
        font-size: 32px;
        display: inline;
    }

    &__imagen{
        height: 200px;
        width: 200px;
    }
}
    
.textoarte{
    font-family: $fonts;
    padding: 10px;
    text-align: center;
    background: $backtituno;
    background: $backtitdos; 
    color: $colord;
}

.carrucel{
    display: flex;
    justify-content: center;
    padding: 20px;

    img{
        display: flex;
        justify-content: center;
        padding: 20px;
        max-width: 512px;
        max-height: 512px;
    }
}

.carousel-inner{
    display: flex;
    max-width: 512px;
    max-height: 512px;
}

