/* obras */

.titulo{
    font-family: $fonts;
    margin:2% ;
    padding: 10px;
    text-align: center;
    background: $backtituno;
    background: $backtitdos; 
    color: $colord;
}


.obrauno{
    font-style: $fonts;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $colord;
    margin: 3%;

    &__imagen{
        margin: 2%;
        width: auto;
        height: 100px;
    }

    &__texto{
        color: black;
    }
}

.obrados{
    font-style: $fonts;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $colore;
    margin: 3%;

    &__imagen{
        margin: 2%;
        width: auto;
        height: 100px;
    }

    &__texto{
        color: black;
    }

}