/* obras */

.titulo{
    margin-top:2% ;
    padding: 10px;
    text-align: center;
    background: rgb(139,76,41);
    background: linear-gradient(144deg, rgba(139,76,41,1) 0%, rgba(180,136,111,1) 35%, rgba(241,231,220,1) 52%, rgba(229,218,204,1) 67%, rgba(216,204,186,1) 78%, rgba(194,181,156,1) 88%); 
}


.obrauno{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(129, 106, 90);
    margin: 3%;

    &__imagen{
        margin: 2%;
        width: auto;
        height: 100px;
    }

    &__texto{
        color: rgb(73, 39, 15);
    }
}

.obrados{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(151, 119, 97);
    margin: 3%;

    &__imagen{
        margin: 2%;
        width: auto;
        height: 100px;
    }

    &__texto{
        color: rgb(73, 39, 15);
    }

}