/* perfil */

.principio{
    display: flex;
    flex-direction: column;
    padding-top: 3%;

    &__biografia{
        padding: 2%;
        text-align: center;
        font-family: $fonts;
        h2{
            color: $colord;
            padding: 10px;
            background: $backtituno;
            background: $backtitdos; 
        }

        p{
            color: black;
        }

    }

    &__informacion{
        padding: 2%;
        text-align: center;
        font-family: $fonts;

        h2{
            color: $colord;
            padding: 10px;
            background: $backtituno;
            background: $backtitdos; 
        }

        p{
            color: black;
        }
    }
}

.imagenperfil{
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px ;
    grid-gap: 20px;
    justify-items:center;
    margin: 8% auto;

    &__yo{
        justify-items: end;
        height: 120px;
        width: 190px;
        padding: 1%;
    }

    &__yo2{
        justify-items: start; 
        height: 120px;
        width: 190px;
        padding: 1%;
    }
}